In [26]:
!pip install BeautifulSoup4
!pip install lxml
!pip3 install lxml
!pip install bs4
!pip install html5lib
!pip install lxml

Requirement already satisfied: BeautifulSoup4 in /opt/conda/lib/python3.7/site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.7/site-packages (from BeautifulSoup4) (2.3.2)
Requirement already satisfied: lxml in /opt/conda/lib/python3.7/site-packages (4.8.0)
Requirement already satisfied: lxml in /opt/conda/lib/python3.7/site-packages (4.8.0)
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.7/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.7/site-packages (from beautifulsoup4->bs4) (2.3.2)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=0e9082963e2db261cb51afa3d818c99a0207498e337e71987fa8a96d2b5cd38d
  Stored in directory: /home/jupyter/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 10.1 MB/s
Requirement already satisfied: webencodings in /opt/conda/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.7/site-packages (from html5lib) (1.16.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Requirement already satisfied: lxml in /opt/conda/lib/python3.7/site-packages (4.8.0)

In [27]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [28]:
url = 'https://www.iii.org/fact-statistic/facts-statistics-wildfires#Wildfires%20by%20year'
res = requests.get(url)

In [29]:
res.status_code

200

In [30]:
res.text[:21]

'<!DOCTYPE html PUBLIC'

In [31]:
soup = BeautifulSoup(res.text, 'lxml')

table = soup.find('table', {'class': 'tablesorter'})
table.text

table.attrs

table_all = soup.find_all('table')
[i.text for i in table_all][1]

FeatureNotFound: Couldn't find a tree builder with the features you requested: lxml. Do you need to install a parser library?

### Wildfire Risk by Number of Properties at Risk (2021)

In [32]:
states = []
for row in table.find_all('tr')[1:]:
    state = {}
    state['rank'] = row.find_all('td')[0].text.strip()
    state['state'] = row.find_all('td')[1].text.strip()
    state['est_num_of_props_at_risk'] = row.find_all('td')[2].text.strip()
    states.append(state)
high_wildfire_risk_df = pd.DataFrame(states)

NameError: name 'table' is not defined

In [11]:
high_wildfire_risk_df['est_num_of_props_at_risk'].replace(',','', regex=True, inplace=True)

NameError: name 'high_wildfire_risk_df' is not defined

In [8]:
high_wildfire_risk_df['est_num_of_props_at_risk'] = high_wildfire_risk_df['est_num_of_props_at_risk'].astype(int)
high_wildfire_risk_df['rank'] = high_wildfire_risk_df['rank'].astype(int)

In [9]:
high_wildfire_risk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      13 non-null     int64
 1   state                     13 non-null     object
 2   est_num_of_props_at_risk  13 non-null     int64
dtypes: int64(2), object(1)
memory usage: 440.0+ bytes

In [10]:
high_wildfire_risk_df.sort_values('est_num_of_props_at_risk', ascending=False)

    rank       state  est_num_of_props_at_risk
0      1  California                   2040600
1      2       Texas                    717800
2      3    Colorado                    373900
3      4     Arizona                    242200
4      5       Idaho                    175000
5      6  Washington                    155500
6      7    Oklahoma                    153400
7      8      Oregon                    147500
8      9     Montana                    137800
9     10        Utah                    136000
10    11  New Mexico                    131600
11    12      Nevada                     67100
12    13     Wyoming                     36800

In [11]:
high_wildfire_risk_df.to_csv('../Data/dashboard/wildfire_risk_by_number_of_properties_2021.csv', index=False)

### Wildfire Risk by Percent (2021)

In [12]:
states = []
for row in table.find_all('tr')[1:]:
    state = {}
    state['rank'] = row.find_all('td')[3].text.strip()
    state['state'] = row.find_all('td')[4].text.strip()
    state['perc_props_at_risk'] = row.find_all('td')[5].text.strip()
    states.append(state)
high_wildfire_risk_perc_df = pd.DataFrame(states)

In [13]:
high_wildfire_risk_perc_df

   rank       state perc_props_at_risk
0     1     Montana                29%
1     2       Idaho                 26
2     3    Colorado                 17
3     4  California                 15
4     5  New Mexico                 15
5     6        Utah                 14
6     7     Wyoming                 14
7     8     Arizona                  9
8     9    Oklahoma                  9
9    10      Oregon                  9
10   11       Texas                  7
11   12      Nevada                  6
12   13  Washington                  5

In [14]:
high_wildfire_risk_perc_df['perc_props_at_risk'].replace('%','', regex=True, inplace=True)

In [15]:
high_wildfire_risk_perc_df['perc_props_at_risk'] = high_wildfire_risk_perc_df['perc_props_at_risk'].astype(float)
high_wildfire_risk_perc_df['rank'] = high_wildfire_risk_perc_df['rank'].astype(int)

In [16]:
high_wildfire_risk_perc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rank                13 non-null     int64
 1   state               13 non-null     object
 2   perc_props_at_risk  13 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 440.0+ bytes

In [17]:
high_wildfire_risk_perc_df.sort_values('perc_props_at_risk', ascending=False)

    rank       state  perc_props_at_risk
0      1     Montana                29.0
1      2       Idaho                26.0
2      3    Colorado                17.0
3      4  California                15.0
4      5  New Mexico                15.0
5      6        Utah                14.0
6      7     Wyoming                14.0
7      8     Arizona                 9.0
8      9    Oklahoma                 9.0
9     10      Oregon                 9.0
10    11       Texas                 7.0
11    12      Nevada                 6.0
12    13  Washington                 5.0

In [18]:
high_wildfire_risk_perc_df.to_csv('../Data/dashboard/wildfire_risk_by_percent_2021.csv', index=False)

### Wildfires by State (2021)

In [19]:
second_soup = BeautifulSoup(res.text, 'lxml')

second_table = second_soup.find_all('table', {'class': 'tablesorter'})[1]
second_table.text

'State\nNumber of fires\nNumber of acres burned\xa0\nAlabama\n1,040\n22,055\nAlaska\n384\n253,357\nArizona\n1,773\n524,428\nArkansas\n378\n17,003\nCalifornia\n9,260\n2,233,666\nColorado\n1,017\n48,195\nConnecticut\n60\n127\nDelaware\n0\n0\nDistrict of Columbia\n0\n0\nFlorida\n2,262\n105,475\nGeorgia\n2,139\n11,108\nHawaii\n1\n40,000\nIdaho\n1,332\n439,600\nIllinois\n29\n219\nIndiana\n34\n836\nIowa\n187\n7,950\nKansas\n55\n163,982\nKentucky\n723\n22,859\nLouisiana\n507\n10,303\nMaine\n636\n377\nMaryland\n112\n1,162\nMassachusetts\n588\n1,439\nMichigan\n435\n9,289\nMinnesota\n2,065\n69,405\nMississippi\n922\n21,037\nMissouri\n1,531\n40,262\nMontana\n2,573\n747,678\nNebraska\n785\n27,294\nNevada\n565\n123,427\nNew Hampshire\n280\n96\nNew Jersey\n906\n6,652\nNew Mexico\n672\n123,792\nNew York\n137\n550\nNorth Carolina\n5,151\n25,838\nNorth Dakota\n946\n49,347\nOhio\n524\n1,415\nOklahoma\n1,727\n113,235\nOregon\n2,202\n828,777\nPennsylvania\n1,350\n2,892\nPuerto Rico\n0\n0\nRhode Island\n99\n178\nSouth Carolina\n630\n7,337\nSouth Dakota\n868\n43,620\nTennessee\n550\n4,937\nTexas\n5,576\n168,258\nUtah\n1,085\n60,863\nVermont\n90\n157\nVirginia\n567\n6,696\nWashington\n1,863\n674,222\nWest Virginia\n752\n7,504\nWisconsin\n1,040\n2,159\nWyoming\n540\n53,496\nUnited States (1)\n58,948\n7,124,554\n'

In [20]:
states = []
for row in second_table.find_all('tr')[1:]:
    state = {}
    state['state'] = row.find_all('td')[0].text.strip()
    state['num_fires'] = row.find_all('td')[1].text.strip()
    state['num_acres_burned'] = row.find_all('td')[2].text.strip()
    states.append(state)
wildfires_by_state_df = pd.DataFrame(states)

In [21]:
wildfires_by_state_df

                   state num_fires num_acres_burned
0                Alabama     1,040           22,055
1                 Alaska       384          253,357
2                Arizona     1,773          524,428
3               Arkansas       378           17,003
4             California     9,260        2,233,666
5               Colorado     1,017           48,195
6            Connecticut        60              127
7               Delaware         0                0
8   District of Columbia         0                0
9                Florida     2,262          105,475
10               Georgia     2,139           11,108
11                Hawaii         1           40,000
12                 Idaho     1,332          439,600
13              Illinois        29              219
14               Indiana        34              836
15                  Iowa       187            7,950
16                Kansas        55          163,982
17              Kentucky       723           22,859
18             Louisiana       507           10,303
19                 Maine       636              377
20              Maryland       112            1,162
21         Massachusetts       588            1,439
22              Michigan       435            9,289
23             Minnesota     2,065           69,405
24           Mississippi       922           21,037
25              Missouri     1,531           40,262
26               Montana     2,573          747,678
27              Nebraska       785           27,294
28                Nevada       565          123,427
29         New Hampshire       280               96
30            New Jersey       906            6,652
31            New Mexico       672          123,792
32              New York       137              550
33        North Carolina     5,151           25,838
34          North Dakota       946           49,347
35                  Ohio       524            1,415
36              Oklahoma     1,727          113,235
37                Oregon     2,202          828,777
38          Pennsylvania     1,350            2,892
39           Puerto Rico         0                0
40          Rhode Island        99              178
41        South Carolina       630            7,337
42          South Dakota       868           43,620
43             Tennessee       550            4,937
44                 Texas     5,576          168,258
45                  Utah     1,085           60,863
46               Vermont        90              157
47              Virginia       567            6,696
48            Washington     1,863          674,222
49         West Virginia       752            7,504
50             Wisconsin     1,040            2,159
51               Wyoming       540           53,496
52     United States (1)    58,948        7,124,554

In [22]:
wildfires_by_state_df['num_fires'].replace(',','', regex=True, inplace=True)
wildfires_by_state_df['num_acres_burned'].replace(',','', regex=True, inplace=True)

In [23]:
wildfires_by_state_df['num_fires'] = wildfires_by_state_df['num_fires'].astype(int)
wildfires_by_state_df['num_acres_burned'] = wildfires_by_state_df['num_acres_burned'].astype(int)

In [24]:
wildfires_by_state_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             53 non-null     object
 1   num_fires         53 non-null     int64
 2   num_acres_burned  53 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.4+ KB

In [25]:
wildfires_by_state_df.sort_values('state', ascending=True)

                   state  num_fires  num_acres_burned
0                Alabama       1040             22055
1                 Alaska        384            253357
2                Arizona       1773            524428
3               Arkansas        378             17003
4             California       9260           2233666
5               Colorado       1017             48195
6            Connecticut         60               127
7               Delaware          0                 0
8   District of Columbia          0                 0
9                Florida       2262            105475
10               Georgia       2139             11108
11                Hawaii          1             40000
12                 Idaho       1332            439600
13              Illinois         29               219
14               Indiana         34               836
15                  Iowa        187              7950
16                Kansas         55            163982
17              Kentucky        723             22859
18             Louisiana        507             10303
19                 Maine        636               377
20              Maryland        112              1162
21         Massachusetts        588              1439
22              Michigan        435              9289
23             Minnesota       2065             69405
24           Mississippi        922             21037
25              Missouri       1531             40262
26               Montana       2573            747678
27              Nebraska        785             27294
28                Nevada        565            123427
29         New Hampshire        280                96
30            New Jersey        906              6652
31            New Mexico        672            123792
32              New York        137               550
33        North Carolina       5151             25838
34          North Dakota        946             49347
35                  Ohio        524              1415
36              Oklahoma       1727            113235
37                Oregon       2202            828777
38          Pennsylvania       1350              2892
39           Puerto Rico          0                 0
40          Rhode Island         99               178
41        South Carolina        630              7337
42          South Dakota        868             43620
43             Tennessee        550              4937
44                 Texas       5576            168258
52     United States (1)      58948           7124554
45                  Utah       1085             60863
46               Vermont         90               157
47              Virginia        567              6696
48            Washington       1863            674222
49         West Virginia        752              7504
50             Wisconsin       1040              2159
51               Wyoming        540             53496

In [26]:
wildfires_by_state_df.to_csv('../Data/dashboard/wildfires_by_state_2021.csv', index=False)

### Top 10 States for Wildfires Ranked by Number of Fires(2021)

In [27]:
third_soup = BeautifulSoup(res.text, 'lxml')

third_table = third_soup.find_all('table', {'class': 'tablesorter'})[2]
third_table.text

'Rank\nState\nNumber of fires\nRank\nState\nNumber of acres burned\n1\nCalifornia\n9,260\n1\nCalifornia\n2,233,666\n2\nTexas\n5,576\n2\nOregon\n828,777\n3\nNorth Carolina\n5,151\n3\nMontana\n747,678\n4\nMontana\n2,573\n4\nWashisngton\n674,222\n5\nFlorida\n2,262\n5\nArizona\n524,428\n6\nOregon\n2,202\n6\nIdaho\n439,600\n7\nGeorgia\n2,139\n7\nAlaska\n253,357\n8\nMinnesota\n2,065\n8\nTexas\n168,258\n9\nWashington\n1,863\n9\nKansas\n163,982\n10\nArizona\n1,773\n10\nNew Mexico\n123,792\n'

In [28]:
states = []
for row in third_table.find_all('tr')[1:]:
    state = {}
    state['rank'] = row.find_all('td')[0].text.strip()
    state['state'] = row.find_all('td')[1].text.strip()
    state['num_fires'] = row.find_all('td')[2].text.strip()
    states.append(state)
top_10_no_of_wildfires = pd.DataFrame(states)
top_10_no_of_wildfires

  rank           state num_fires
0    1      California     9,260
1    2           Texas     5,576
2    3  North Carolina     5,151
3    4         Montana     2,573
4    5         Florida     2,262
5    6          Oregon     2,202
6    7         Georgia     2,139
7    8       Minnesota     2,065
8    9      Washington     1,863
9   10         Arizona     1,773

In [29]:
top_10_no_of_wildfires['num_fires'].replace(',','', regex=True, inplace=True)

In [30]:
top_10_no_of_wildfires['num_fires'] = top_10_no_of_wildfires['num_fires'].astype(int)

In [31]:
top_10_no_of_wildfires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rank       10 non-null     object
 1   state      10 non-null     object
 2   num_fires  10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [32]:
top_10_no_of_wildfires.sort_values('num_fires', ascending=False)

  rank           state  num_fires
0    1      California       9260
1    2           Texas       5576
2    3  North Carolina       5151
3    4         Montana       2573
4    5         Florida       2262
5    6          Oregon       2202
6    7         Georgia       2139
7    8       Minnesota       2065
8    9      Washington       1863
9   10         Arizona       1773

In [33]:
top_10_no_of_wildfires.to_csv('../Data/dashboard/top_10_states_for_wf_2021.csv', index=False)

### Top 10 States for Wildfires Ranked by Number of Acres Burned (2021)

In [34]:
fourth_soup = BeautifulSoup(res.text, 'lxml')

fourth_table = fourth_soup.find_all('table', {'class': 'tablesorter'})[2]
fourth_table.text

'Rank\nState\nNumber of fires\nRank\nState\nNumber of acres burned\n1\nCalifornia\n9,260\n1\nCalifornia\n2,233,666\n2\nTexas\n5,576\n2\nOregon\n828,777\n3\nNorth Carolina\n5,151\n3\nMontana\n747,678\n4\nMontana\n2,573\n4\nWashisngton\n674,222\n5\nFlorida\n2,262\n5\nArizona\n524,428\n6\nOregon\n2,202\n6\nIdaho\n439,600\n7\nGeorgia\n2,139\n7\nAlaska\n253,357\n8\nMinnesota\n2,065\n8\nTexas\n168,258\n9\nWashington\n1,863\n9\nKansas\n163,982\n10\nArizona\n1,773\n10\nNew Mexico\n123,792\n'

In [35]:
states = []
for row in fourth_table.find_all('tr')[1:]:
    state = {}
    state['rank'] = row.find_all('td')[3].text.strip()
    state['state'] = row.find_all('td')[4].text.strip()
    state['num_acres_burned'] = row.find_all('td')[5].text.strip()
    states.append(state)
top_10_acres_wildfires = pd.DataFrame(states)
top_10_acres_wildfires

  rank        state num_acres_burned
0    1   California        2,233,666
1    2       Oregon          828,777
2    3      Montana          747,678
3    4  Washisngton          674,222
4    5      Arizona          524,428
5    6        Idaho          439,600
6    7       Alaska          253,357
7    8        Texas          168,258
8    9       Kansas          163,982
9   10   New Mexico          123,792

In [36]:
top_10_acres_wildfires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              10 non-null     object
 1   state             10 non-null     object
 2   num_acres_burned  10 non-null     object
dtypes: object(3)
memory usage: 368.0+ bytes

In [37]:
top_10_acres_wildfires['num_acres_burned']

0    2,233,666
1      828,777
2      747,678
3      674,222
4      524,428
5      439,600
6      253,357
7      168,258
8      163,982
9      123,792
Name: num_acres_burned, dtype: object

In [38]:
def remove_comma_from_series(col):
    return col.replace(',', '', regex=True, inplace=True)

In [39]:
remove_comma_from_series(top_10_acres_wildfires['num_acres_burned'])

In [ ]:
top_10_acres_wildfires['num_acres_burned'].replace(',','', regex=True, inplace=True)

In [ ]:
top_10_acres_wildfires['num_acres_burned'] = top_10_acres_wildfires['num_acres_burned'].astype(int)

In [ ]:
top_10_acres_wildfires.info()

In [ ]:
top_10_acres_wildfires.sort_values('num_acres_burned', ascending=False)

In [ ]:
top_10_acres_wildfires.to_csv('../Data/dashboard/top_10_states_for_wf_acres_2021.csv', index=False)

### Top 10 Costliest Wildfires in the United States (in millions)

In [1]:
fifth_soup = BeautifulSoup(res.text, 'lxml')

fifth_table = fifth_soup.find_all('table', {'class': 'tablesorter'})[3]
fifth_table.text

NameError: name 'BeautifulSoup' is not defined

In [ ]:
fires = []
for row in fifth_table.find_all('tr')[2:]:
    fire = {}
    fire['rank'] = row.find_all('td')[0].text.strip()
    fire['year'] = row.find_all('td')[1].text.strip()
    fire['name'] = row.find_all('td')[2].text.strip()
    fire['dollars_when_occured'] = row.find_all('td')[3].text.strip()
    fire['in_2021_dollars'] = row.find_all('td')[4].text.strip()
    fires.append(fire)
costliest_fires_df = pd.DataFrame(fires)
costliest_fires_df

In [ ]:
costliest_fires_df['dollars_when_occured'].replace(',','', regex=True, inplace=True)
costliest_fires_df['in_2021_dollars'].replace(',','', regex=True, inplace=True)

In [ ]:
costliest_fires_df['dollars_when_occured'].replace('$10000','10000', inplace=True)
costliest_fires_df['in_2021_dollars'].replace('$10750','10750', inplace=True)

In [ ]:
costliest_fires_df['dollars_when_occured'] = costliest_fires_df['dollars_when_occured'].astype(int)

In [ ]:
costliest_fires_df['in_2021_dollars'] = costliest_fires_df['in_2021_dollars'].astype(int)

In [ ]:
costliest_fires_df.info()

In [ ]:
costliest_fires_df.sort_values('in_2021_dollars', ascending=False)

In [ ]:
costliest_fires_df.to_csv('../Data/dashboard/top_10_costliest_wf.csv', index=False)

### Top 10 Largest California Wildfires

In [ ]:
sixth_soup = BeautifulSoup(res.text, 'lxml')

sixth_table = sixth_soup.find_all('table', {'class': 'tablesorter'})[4]
sixth_table.text

In [ ]:
fires_ca = []
for row in sixth_table.find_all('tr')[1:]:
    fire = {}
    fire['rank'] = row.find_all('td')[0].text.strip()
    fire['fire_name_cause'] = row.find_all('td')[1].text.strip()
    fire['date'] = row.find_all('td')[2].text.strip()
    fire['county'] = row.find_all('td')[3].text.strip()
    fires_ca.append(fire)
ca_largest_wf_df = pd.DataFrame(fires_ca)
ca_largest_wf_df

In [ ]:
ca_largest_wf_df.to_csv('../Data/dashboard/top_10_largest_ca_wf.csv', index=False)

### Top 10 Most Destructive California Wildfires

In [43]:
seventh_soup = BeautifulSoup(res.text, 'lxml')

seventh_table = seventh_soup.find_all('table', {'class': 'tablesorter'})[5]
seventh_table.text

'Rank\nFire name and cause\nDate\nCounty\nAcres\nStructures\nDeaths\n1\nCamp Fire (Power lines)\nNovember 2018\nButte\n153,336\n18,804\n85\n2\nTubbs (Electrical)\nOctober 2017\nNapa and Sonoma\n36,807\n5,636\n22\n3\nTunnel - Oakland Hills (Rekindle)\nOctober 1991\nAlameda\n1,600\n2,900\n25\n4\nCedar (Human related)\nOctober 2003\nSan Diego\n273,246\n2,820\n15\n5\nNorth Complex (Lightning)\nAugust 2020\nButte, Plumas and Yuba\n318,935\n2,352\n15\n6\nValley (Electrical)\nSeptember 2015\nLake, Napa and Sonoma\n76,067\n1,955\n4\n7\nWitch (Power lines)\nOctober 2007\nSan Diego\n197,990\n1,650\n2\n8\nWoolsey (Electrical)\nNovember 2018\nVentura\n96,949\n1,643\n3\n9\nCarr (Human related)\nJuly 2018\nShasta County and Trinity\n229,651\n1,614\n8\n10\nGlass Fire (Undetermined)\nSeptember 2020\nNapa and Sonoma\n67,484\n1,520\n0\n'

In [44]:
destructive_fires = []
for row in seventh_table.find_all('tr')[1:]:
    fire = {}
    fire['rank'] = row.find_all('td')[0].text.strip()
    fire['fire_name_cause'] = row.find_all('td')[1].text.strip()
    fire['date'] = row.find_all('td')[2].text.strip()
    fire['county'] = row.find_all('td')[3].text.strip()
    fire['acres'] = row.find_all('td')[4].text.strip()
    fire['structures'] = row.find_all('td')[5].text.strip()
    destructive_fires.append(fire)
ca_destructive_wf_df = pd.DataFrame(destructive_fires)
ca_destructive_wf_df

,rank,fire_name_cause,date,county,acres,structures
0,1,Camp Fire (Power lines),November 2018,Butte,"153,336","18,804"
1,2,Tubbs (Electrical),October 2017,Napa and Sonoma,"36,807","5,636"
2,3,Tunnel - Oakland Hills (Rekindle),October 1991,Alameda,"1,600","2,900"
3,4,Cedar (Human related),October 2003,San Diego,"273,246","2,820"
4,5,North Complex (Lightning),August 2020,"Butte, Plumas and Yuba","318,935","2,352"
5,6,Valley (Electrical),September 2015,"Lake, Napa and Sonoma","76,067","1,955"
6,7,Witch (Power lines),October 2007,San Diego,"197,990","1,650"
7,8,Woolsey (Electrical),November 2018,Ventura,"96,949","1,643"
8,9,Carr (Human related),July 2018,Shasta County and Trinity,"229,651","1,614"
9,10,Glass Fire (Undetermined),September 2020,Napa and Sonoma,"67,484","1,520"

In [57]:
def remove_comma_from_series(col):
    return col.replace(',', '', regex=True, inplace=True)

In [58]:
remove_comma_from_series(ca_destructive_wf_df['structures'])

In [47]:
ca_destructive_wf_df

,rank,fire_name_cause,date,county,acres,structures
0,1,Camp Fire (Power lines),November 2018,Butte,"153,336","18,804"
1,2,Tubbs (Electrical),October 2017,Napa and Sonoma,"36,807","5,636"
2,3,Tunnel - Oakland Hills (Rekindle),October 1991,Alameda,"1,600","2,900"
3,4,Cedar (Human related),October 2003,San Diego,"273,246","2,820"
4,5,North Complex (Lightning),August 2020,"Butte, Plumas and Yuba","318,935","2,352"
5,6,Valley (Electrical),September 2015,"Lake, Napa and Sonoma","76,067","1,955"
6,7,Witch (Power lines),October 2007,San Diego,"197,990","1,650"
7,8,Woolsey (Electrical),November 2018,Ventura,"96,949","1,643"
8,9,Carr (Human related),July 2018,Shasta County and Trinity,"229,651","1,614"
9,10,Glass Fire (Undetermined),September 2020,Napa and Sonoma,"67,484","1,520"

In [ ]:
ca_destructive_wf_df['acres'].replace(',','', regex=True, inplace=True)
ca_destructive_wf_df['structures'].replace(',','', regex=True, inplace=True)

In [ ]:
ca_destructive_wf_df['acres'] = ca_destructive_wf_df['acres'].astype(int)

In [ ]:
ca_destructive_wf_df['structures'] = ca_destructive_wf_df['structures'].astype(int)

In [ ]:
ca_destructive_wf_df.info()

In [ ]:
ca_destructive_wf_df

In [ ]:
ca_destructive_wf_df.to_csv('../Data/dashboard/top_10_destructive_ca_wf.csv', index=False)

### Top 10 Deadliest California Wildfires

In [ ]:
eighth_soup = BeautifulSoup(res.text, 'lxml')

eighth_table = eighth_soup.find_all('table', {'class': 'tablesorter'})[6]
eighth_table.text

In [ ]:
deadliest_fires = []
for row in seventh_table.find_all('tr')[1:]:
    fire = {}
    fire['rank'] = row.find_all('td')[0].text.strip()
    fire['fire_name_cause'] = row.find_all('td')[1].text.strip()
    fire['date'] = row.find_all('td')[2].text.strip()
    fire['county'] = row.find_all('td')[3].text.strip()
    fire['acres'] = row.find_all('td')[4].text.strip()
    fire['structures'] = row.find_all('td')[5].text.strip()
    fire['deaths'] = row.find_all('td')[6].text.strip()
    deadliest_fires.append(fire)
ca_deadliest_wf_df = pd.DataFrame(deadliest_fires)
ca_deadliest_wf_df

In [ ]:
ca_deadliest_wf_df['acres'].replace(',','', regex=True, inplace=True)
ca_deadliest_wf_df['structures'].replace(',','', regex=True, inplace=True)

In [ ]:
ca_deadliest_wf_df['acres'] = ca_deadliest_wf_df['acres'].astype(int)

In [ ]:
ca_deadliest_wf_df['structures'] = ca_deadliest_wf_df['structures'].astype(int)

In [ ]:
ca_deadliest_wf_df['deaths'] = ca_deadliest_wf_df['deaths'].astype(int)

In [ ]:
ca_deadliest_wf_df.info()

In [ ]:
ca_deadliest_wf_df

In [ ]:
ca_deadliest_wf_df.to_csv('../Data/dashboard/top_10_deadliest_ca_wf.csv', index=False)